# Gomoku Tournament Participation
# Rename this file to .brawl and replace with your bot name when ready
# Name requirements: 5-16 characters, alphanumeric + spaces/dashes/underscores
# Example: MyGomokuAI_1
#
# Uncomment line below and customize when participating:
# MyGomokuBot
